#main-heading {
  text-align: center;
}

#todo-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#todo-form input {    
  font-size: 24px;
}

#todo-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.todo-card {
  box-shadow: 0 0 4px #ccc;
  padding: 24px;
  margin: 16px;
  border-radius: 6px;
}

.todo-view-wrapper, .todo-edit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-edit-wrapper {
  display: none;
}

.todo-card i {
  cursor: pointer;
  font-size: 24px;
  margin-left: 16px;
}

.todo-message {
  margin: 0;
  font-size: 24px;
}

#btn-menu-toggle {
  font-size: 32px;
}

#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  left: 0;

  display: none;
}

#drawer {
  width: 270px;
  height: 100vh;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  transform: translateX(-100%);
  transition: transform 0.3s;
}

#btn-close-drawer {
  font-size: 32px;
}

@media (min-width: 400px) {
  #btn-menu-toggle {
      display: none;
  }
}